.navdiv{
    height: 72px;
    box-shadow: -42px -29px 42px 46px rgb(0 0 0 / 10%)
}
.nav-link{
    font-weight: 600;font-size: 20px;
}
.abouth1{
    text-align: center;
}
#navbarScroll a:hover{
    color: #ffc83e;
}
#navbarScroll a{
    color: black;
}






.card-li{
    display: flex;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.main-content{
    display: flex;
    color: aliceblue;
}
.main-content .box{
    flex-basis: 100%;
    padding: 10px 20px;
}
.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;


}
.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a {
    padding: 0 2px;
}
.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background-color: #f12020;
}

.btt{
    background-color:#ffc107;
    border: none;
    display: flex;
    justify-content: center;
    width: 50%;
}
.btt:hover{
    background-color:#e4000e;
}
.btndiv{
    display: flex;
    justify-content: center;
}
.card{
    width: 18rem;
   
    box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 38%);
     border-radius: .75rem;
      height: 411px;
      align-items: center;
}



/* footer */

#footer {
    background: #0f0f0f;
    padding: 0 0 30px 0;
    color: #f8f4f4;
    font-size: 14px;
    margin-top: 80px;
  }
  
  #footer .footer-top {
    background: #1d1d1d;
    border-bottom: 1px solid #2f2f2f;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2a2a2a;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #5c9f24;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #8ed851;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #81d33d;
  }
  
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
  }
  
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #5c9f24;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #6ab82a;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  .ftr-rgt{
    line-height: 26px;
  }

 
 
 
#message1{
  color: red;
}

  
@media only screen and (max-device-width: 767px) {
    .bttxt {
text-align: center;
    }
  }
    
@media only screen and (max-device-width: 991px) {
    .bttxt {

    }
  }

